/* Document Prep */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  background-color: #fff;
  color: #4f4f4f;
}
/* Header */
header {
  grid-area: header;
  min-width: 390px;
}
header > * {
  display: inline-block;
  margin: 10px 0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-left: 10px;
}
img#logo {
  height: 36px;
  vertical-align: bottom;
}
header > nav {
  padding-left: 20px;
}
header > nav > * {
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #ced4da;
  color: #636363;
  text-decoration: none;
  font-weight: 600;
  -webkit-appearance: none;
  background-color: transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
header > nav > a {
  background-color: white;
}
/* Products */
#products {
  grid-area: products;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
#products::-webkit-scrollbar {
  display: none;
}
/* Product Items */
.product {
  width: 200px;
  height: 300px;
  min-width: 150px;
  max-width: 250px;
  background-color: snow;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product, .product h2 {
  font-weight: 600;
  font-size: 15px;
}
.product h2 {
  margin: unset;
}
.product > div.image {
  background-color: white;
  border: solid #eee thin;
  height: 175px;
  overflow: hidden;
  position: relative;
}
.product > div.image > img {
  /*   display: inline-block; */
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.product .bottom {
  height: 40px;
  position: relative;
}
.product .bottom .description {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.product:focus-within .description, .product:hover .description {
  display: block;
  top: -180px;
  width: 100%;
  height: 175px;
  background-color: snow;
  clip: unset;
  margin: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.product .bottom > label, .product .bottom > .price {
  vertical-align: middle;
  line-height: 40px;
}
.product .bottom > .price {
  padding-left: 5px;
}
.product .bottom > select {
  float: right;
  padding-left: 15px;
  border-radius: .125rem;
}
/* Cart */
#cart {
  grid-area: cart;
  margin-top: 10px;
  margin-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: calc(100vh - 20px);
  background-color: snow;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}
#cartList tbody tr:nth-child(even) td {background-color:#EBEBEB; }
#cartList tbody tr td{padding: 0.1em 0.5em;}
@media screen and (max-width: 670px) {
  header {
    display: flex;
    flex-direction: column;
    min-width: auto;
  }
  #cart {
    margin: 10px;
    width: calc(100vw - 40px);
    max-height: 50vh;
    padding: 10px;
    border-radius: 5px;
  }
}
#cartHeader h1 {
  font-size: 28px;
}
#cartHeader img {
  height: 32px;
  vertical-align: bottom;
  filter: invert(29%) sepia(0%) saturate(1314%) hue-rotate(154deg) brightness(90%) contrast(80%);
  ;
}
#cartList {
  margin-top: 10px;
  width: 100%;
}
#cart > div > table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
}
#cartList > table tr > td:nth-of-type(2) > input {
  width: 60px;
  text-align: center;
  transition: all 0.2s;
}
#cartList > table tr > td:nth-of-type(2) > input:not(:focus) {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Drop shadow for Product items and Cart */
nav > a, .product, #cart {
  border-radius: .25rem;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}
/* Buttons */
button, input, select {
  height: 40px;
}
input:not([type=button]):not([type=submit]), select {
  line-height: 40px;
}
button, input[type=button], input[type=submit] {
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  line-height: 1;
  padding: 0 20px;
  font-weight: 600;
  margin: 0;
  border: 0;
  border-radius: .125rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}
.product button:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 14%), 0 4px 15px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 14%), 0 4px 15px 0 rgb(0 0 0 / 12%);
  background-color: #2a76f2;
}
.product button, #cart form *[type=submit] {
  float: right;
  color: #fff;
  background-color: #0B51C1;
}
#cart form button, #cart form input[type=button], #cart form input[type=submit] {
  margin: 10px 0 0 10px;
  float: right;
}
.product button:focus, #cart form *[type=submit]:focus {
  background-color: #1266f1;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}
/* Grid */
#gridBox {
  display: flex;
  grid-template-columns: auto 350px;
  grid-template-rows: minmax(auto, 85px) auto;
  grid-template-areas:
    "header cart"
    "products cart";
  height: calc(100vh - 100px);
  position: relative;
  width: 100%;
}
@media screen and (max-width: 670px) {
  #gridBox {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "header"
      "products"
      "cart"
    ;
      height: auto;
      
  }
  #cart {
    max-height: fit-content;
    min-height: auto;
    overflow: visible;
  }
  span#name {
    overflow-wrap: break-word;
  }
  nav {
    text-align: center;
  }
  header > nav > a, nav span {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  #products {
    justify-content: center;
     
  }
}
/* ARIA Alert as toast \ notification bar for visual users */
#alert {
  position: fixed;
  bottom: 0px;
  background-color: snow;
  border-top-right-radius: 5px;
  padding: 5px;
  box-shadow: 2px -1px 2px #ced4da;
}
#alert:empty {
  display: none;
}
/* utility */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.topLine td {
  border-top: thin #ced4da solid;
  font-weight: 600;
  padding-top: 5px;
}